.sideButtonContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 100px;
}
.buttonContainer {
  margin-top: 15px;
  border-radius: 50%;
}
.whatsapp img,
.email img,
.phone img {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
}
.whatsapp img {
  background-color: #128c7e;
}
.email img {
  background-color: #ef4747;
}
.phone img {
  background-color: #e7f046;
}
@media screen and (max-width: 800px) {
  .whatsapp img,
  .email img,
  .phone img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .sideButtonContainer {
    margin-right: 10px;
    margin-bottom: 100px;
  }
  .whatsapp img,
  .email img,
  .phone img {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
