.mainCollectionSection {
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}
.mainImageContainer{
  display:flex;
  justify-content:center;
  align-items:center;
}
.mainCollectionSection img {
  /* width: 100%; */
  min-width:500px;
  margin: auto;
  max-width: 1440px;
}
.mainTitle {
  color: var(--gray);
  margin-bottom: 30px;
  margin-left: 10px;
  position: relative;
}
.mainTitle::after {
  position: absolute;
  display: block;
  text-align: end;
  content: "";
  margin-top: 5px;
  left: 0;
  width: 50px;
  height: 1px;
  border-bottom: 5px solid #ffedad;
}
.ProductCardListSection {
  margin: 85px 0;
  padding-top: 50px;
  color: var(--gray);
  background-color: var(--cream);
}
.ProductCardListContainer {
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 650px){
  .mainCollectionSection img {
    /* width: 100%; */
    min-width:0;
    margin: auto;
    max-width: 1440px;
  }
}