.sendEmailSection {
  background-image: url("../../../../assets/pictures/sofa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sendEmailContainer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10px;
  color: var(--gray);
}
.emailInputContainer {
  width: 100%;
  display: flex;
  background-color: #6b6b6b;
  padding: 20px 50px;
  margin-top: 30px;
}
.emailInputContainer input {
  margin-right: 10px;
  width: 80%;
  height: 50px;
  padding: 10px 20px;
  color: var(--gray);
}
.emailInputContainer input:focus {
  outline: none;
}
.emailInputContainer input::placeholder {
  color: rgba(54, 54, 54, 0.25);
}
.emailInputContainer button {
  width: 20%;
  color: var(--white);
  padding: 0.5em 1em;
  background-color: #d9b537;
  border: none;
}
