.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  transition: all 0.3s;
  height: 100px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 1440px;
  height: 100px;
  margin: auto;
}

.logoContainer {
}

.logoContainer img {
  width: 150px;
}

.linkContainer {
  max-width: 400px;
  width: 500px;
  /* cursor: pointer; */
}

.linkContainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.linkContainer ul li {
  list-style: none;
}

.linkContainer ul li a {
  letter-spacing: 0.7px;
  font-size: 16px;
  padding: 0 18px;
  color: black;
}

.active {
  color: red !important;
}
