.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31%;

  margin: 20px 10px;
}
.cardContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cardContainer p {
  text-align: center;
  margin: 10px;
  color: var(--gray);
}
@media screen and (max-width: 870px) {
  .cardContainer {
    width: 100%;
    margin: 10px;
  }
}
@media screen and (max-width: 650px) {
  .cardContainer {
    width: 100%;
    margin: 10px;
  }
}
